{#
/**
 * @file
 * Theme override for the search form block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values, including:
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: A list HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template. Includes:
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 */
#}
<form action="/mikevsweb/search/node" method="get" id="search-block-form" class="is-pulled-right" accept-charset="UTF-8" data-drupal-form-fields="edit-keys">

<div class="field has-addons">
  <div class="control has-icons-left">
    <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="input form-search">
    <span class="icon is-left">
      <i class="fas fa-envelope fa-xs"></i>
    </span>
  </div>
  <div class="control">
    <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Search" class="button is-info js-form-submit form-submit">
  </div>
</div>

</form>
